html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  background-image: url("./pics613/backgroundSolid.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

div {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}
.hidden {
  display: none;
}

h1 {
  color: black;
  font-weight: 900;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.peekaboo-button {
  background-color: transparent;

  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.peekaboo-icon {
  width: 100%;
  border: none;
  margin: 0 auto;
}

.icon {
  background-color: transparent;
  width: 100%;
  border: none;
  margin: 0 auto;
}

.person {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  margin: 0 auto;
}
