html {
  background-image: url("./pics613/backgroundSolid.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
}
.body {
  background-image: url("./pics613/backgroundSolid.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
}

div {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}
.hidden {
  display: none;
}

p {
  color: yellow;
  font-weight: 900;
  font-size: 15px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.peekaboo-button {
  background-color: transparent;

  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.peekaboo-icon {
  width: 100%;
  border: none;
  margin: 0 auto;
}

.icon {
  background-color: transparent;
  width: 100%;
  border: none;
  margin: 0 auto;
}

.person {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  margin: 0 auto;
}
