body {
  background-image: url("./pics613/backgroundSolid.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

div {
  width: 50%;
  margin: 0 auto;
}
.hidden {
  display: none;
}

h1 {
  color: red;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.peekaboo-button {
  background-color: transparent;

  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.peekaboo-icon {
  width: 100%;
  border: none;
  margin: 0 auto;
}

.icon {
  background-color: transparent;
  width: 100%;
  border: none;
  margin: 0 auto;
}

.person {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  margin: 0 auto;
}
